<%= form_for :url, url:url_index_path do |f| %>
    <p>
        <%= f.label :origin_url %><br>
        <%= f.text_field :origin_url %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Back', url_index_path %>